global
<% global_options.sort.each do |key,val| -%>
<% if val.is_a?(Array) -%>
<% val.each do |item| -%>
  <%= key %>  <%= item %>
<% end -%>
<% else -%>
  <%= key %>  <%= val %>
<% end -%>
<% end -%>

defaults
<% defaults_options.sort.each do |key,val| -%>
<% if val.is_a?(Array) -%>
<% val.each do |item| -%>
  <%= key %>  <%= item %>
<% end -%> 
<% else -%>
  <%= key %>  <%= val %>
<% end -%>
<% end -%>


listen stats 0.0.0.0:8100
  mode http
  timeout client 5000
  timeout connect 4000
  timeout server 30000
  stats enable
  stats realm Haproxy\ Statistics
  stats uri /stats
  stats refresh 5s
  errorfile 408 /dev/null

